{% extends 'home/base.html' %}
{% load static %}

{% block title %}WheelDeals - Bidding{% endblock %}

{% block content %}

<div class="container">

    <div class="car-section">
        <h3>Car Details</h3>
    </div>

    <div class="bid-section">
        <h3>Place a Bid</h3>
    </div>

    <div class="bid-list">
        <h3>All Bids</h3>
    </div>

    <div class="car-card">
       <img src="{% static 'images/car.jpg' %}" width="300">
       <h4>Car Name</h4>
       <p>Starting Price: $5000</p>
    </div>

</div>

{% endblock %}